<ng-content select="h1">
    
</ng-content>

<p [ngClass]="{'active': valor, 'disabled': !valor}">Ng Class</p>
<p [ngStyle]="{'height': '200px', 'background-color': 'blue'}">Ng Class</p>

<hr>



<input [(ngModel)] = "nome"> {{nome}}



<li *ngFor="let item of list">{{item.nome}}</li> 




<ng-template ngFor let-item [ngForOf]="list">
 <p>
     {{item.nome | uppercase}}
     {{date | date: 'full' }}
 </p>
</ng-template>


{{list[0].nome}}
{{list | json}}






<ng-content select="hr">

</ng-content>